* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes animate-logo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes animate-logo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes animate-logo-reverse {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animate-logo-reverse {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body {
  background-color: #eef3f9;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.dark-mode {
  background-color: #45575c;
}

body.dark-mode .logo-btn {
  -webkit-animation: animate-logo 1s ease forwards !important;
          animation: animate-logo 1s ease forwards !important;
}

body.dark-mode .divider {
  background-color: #637373 !important;
}

body.dark-mode .task-list-container {
  -webkit-box-shadow: 10px 40px 50px rgba(29, 29, 29, 0.2) !important;
          box-shadow: 10px 40px 50px rgba(29, 29, 29, 0.2) !important;
  background-color: #637373 !important;
}

body.dark-mode .task-list-container .task-list-title {
  color: white !important;
}

body.dark-mode .task-list-container .icon-container svg rect {
  fill: white;
}

body.dark-mode .task-list-container .icon-container svg circle {
  stroke: white;
}

body.dark-mode .task-list-container .add-task-btn {
  color: white !important;
}

.container {
  width: 90%;
  margin: auto;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

#header .logo-btn {
  cursor: pointer;
  width: 70px;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: animate-logo-reverse 1s ease forwards;
          animation: animate-logo-reverse 1s ease forwards;
}

#header .logo-btn img {
  max-height: 100%;
  max-width: 100%;
}

#board {
  height: 80vh;
}

#board .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding: 1em 0;
  border-radius: 25px;
}

#board .task-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
  width: 22%;
  padding: 1em 1em;
  padding-top: 0.5em;
  -webkit-box-shadow: 10px 40px 50px #d1d1d1;
          box-shadow: 10px 40px 50px #d1d1d1;
  background-color: #f5f5f5;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#board .task-list-container:nth-child(1) {
  border-top: 4px solid #ab4d72;
}

#board .task-list-container:nth-child(2) {
  border-top: 4px solid #4d5a9e;
}

#board .task-list-container:nth-child(3) {
  border-top: 4px solid #cd9f63;
}

#board .task-list-container:nth-child(4) {
  border-top: 4px solid #add0ca;
}

#board .task-list-container .task-list-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

#board .task-list-container .task-list-intro .task-list-popup {
  width: 200px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #bbbbbb;
  padding: 1em;
  visibility: hidden;
}

#board .task-list-container .task-list-intro .task-list-popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  height: 100%;
  font-size: 1rem;
}

#board .task-list-container .task-list-intro .task-list-popup form .form-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#board .task-list-container .task-list-intro .task-list-popup form label {
  width: 40%;
  color: #616161;
  text-align: right;
}

#board .task-list-container .task-list-intro .task-list-popup form input {
  width: 40%;
  text-align: right;
}

#board .task-list-container .task-list-intro .task-list-settings {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

#board .task-list-container .task-list-intro .task-list-settings:hover {
  background-color: rgba(206, 206, 206, 0.5);
}

#board .task-list-container .task-list-intro .task-list-settings:hover svg path {
  fill: #f5f5f5;
}

#board .task-list-container .task-list-intro .task-list-settings svg {
  height: 7px;
}

#board .task-list-container .task-list-intro .task-list-settings svg path {
  fill: #adadad;
}

#board .task-list-container .task-list-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  color: #404552;
}

#board .task-list-container .add-btn-container {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100%;
  margin-top: auto;
  padding: 0 30%;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 0.7;
}

#board .task-list-container .add-btn-container:hover {
  background-color: rgba(206, 206, 206, 0.5);
  opacity: 1;
}

#board .task-list-container .icon-container {
  pointer-events: none;
  height: 100%;
}

#board .task-list-container .icon-container svg {
  height: 100%;
  width: 20px;
}

#board .task-list-container .add-task-btn {
  color: #464646;
  pointer-events: none;
}

#board .task-list {
  width: 100%;
  position: relative;
}

.task-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 1em;
  margin: 0.5em 0;
  color: #6d6d6d;
  background-color: #4da167;
  border-radius: 3px;
  font-weight: 300;
  font-size: 1rem;
  border-width: 3px;
  border-left-style: solid;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 10px 10px -5px rgba(160, 160, 160, 0.1);
          box-shadow: 0 10px 10px -5px rgba(160, 160, 160, 0.1);
  -webkit-animation: expand 0.3s ease-out;
          animation: expand 0.3s ease-out;
}

.task-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.task-item .task-title {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.task-item .task-title-input {
  width: 80%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  position: absolute;
  background: none;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

@-webkit-keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.task-dragging {
  opacity: 0.5;
}

.divider {
  height: 50px;
  width: 100%;
  margin: 0.5em 0;
  top: 0;
  border-radius: 3px;
  border: 2px solid #a5a5a5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #f5f5f5;
  -webkit-animation: expand 0.2s ease-out;
          animation: expand 0.2s ease-out;
}

.task-modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 110vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.task-modal-container.modal-active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.task-modal-container .task-modal {
  width: 50%;
  height: 55%;
  padding: 1em;
  border-radius: 5px;
  background-color: white;
}

.task-modal-container .form-btn {
  margin-top: 1em;
  padding: 1em 2em;
  border-radius: 20px;
  color: gray;
  -webkit-box-shadow: 0 7px 5px -3px rgba(160, 160, 160, 0.6);
          box-shadow: 0 7px 5px -3px rgba(160, 160, 160, 0.6);
}

.task-modal-container .form-btn:hover {
  color: #404552;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em auto;
}

form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 1em 0;
}

form .form-item input[type="text"] {
  background-color: whitesmoke;
  outline: none;
  border: none;
  padding: 0.5em;
}

form .form-item .item-label {
  width: 30%;
  text-align: right;
  opacity: 0.7;
}

form .form-item.form-name input,
form .form-item .inputs-list {
  text-align: left;
  width: 60%;
}

.form-bg .inputs-list,
.form-accent .inputs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-bg .inputs-list .input-item,
.form-accent .inputs-list .input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-bg .inputs-list label,
.form-accent .inputs-list label {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.form-bg .inputs-list label.red,
.form-accent .inputs-list label.red {
  background-color: red;
}

.form-bg .inputs-list label.green,
.form-accent .inputs-list label.green {
  background-color: green;
}

.form-bg .inputs-list label.blue,
.form-accent .inputs-list label.blue {
  background-color: lightseagreen;
}

.form-bg .inputs-list label.purple,
.form-accent .inputs-list label.purple {
  background-color: purple;
}

.form-bg .inputs-list label.pink,
.form-accent .inputs-list label.pink {
  background-color: pink;
}

.form-bg .inputs-list input,
.form-accent .inputs-list input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-bg .inputs-list input:checked + label,
.form-accent .inputs-list input:checked + label {
  border: 3px solid black;
  border-radius: 50%;
}

.form-deadline input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  font-size: 1.2rem;
}

.form-deadline input {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
  border: none;
  width: 60%;
}

.form-type .inputs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-type .inputs-list label {
  cursor: pointer;
  opacity: 0.7;
}

.form-type .inputs-list input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-type .inputs-list input:checked + label {
  opacity: 1;
  font-weight: bold;
}

input::-webkit-input-placeholder {
  color: #e0e0e0;
}

input:-ms-input-placeholder {
  color: #e0e0e0;
}

input::-ms-input-placeholder {
  color: #e0e0e0;
}

input::placeholder {
  color: #e0e0e0;
}
/*# sourceMappingURL=styles.css.map */